* {
    max-width: 100vw;

}
.bounce-in-top {
	-webkit-animation: bounce-in-top 1.1s both;
	        animation: bounce-in-top 1.1s both;
}

html {
    background-image: url(./assets/Untitled\ design.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment:fixed;
    background-position: center;
    z-index: -100;
    overflow-x: hidden;
}